#iframes {
  text-align: center;
  margin: 0 20%;
}
.link-html-obtain {
  text-align: center;
}

#newsletter-iframe {
  width: 650px;
  float: left;
}

#newsletter-iframe iframe {
  width: 100%;
  height: 900px;
}

#newsletter-iframe-mobile {
  width: 300px;
  float: left;
}

#newsletter-iframe-mobile iframe {
  width: 100%;
  height: 900px;
}
